@import "~taro-ui/dist/style/components/tabs.scss";
.hightlight{
  padding: 0 .4rem;
  display: flex;
  justify-content: space-around;
  .pickers{
    display: flex;
    .picker{
      margin-right: 1rem;
    }
  }
  .search-bar{
    padding: 0;
    flex: 0 0 54%;
  }
}
.list-item{
  height: 6rem;
  .at-list__item-container{
    height: 5rem;
    .item-thumb{
      width: 150px;
      height: 130px;
    }
    .item-content__info-title{
      font-weight: bold;
    }
    .item-extra__info{
      font-weight: bold;
      color: #ff3333;
    }
  }
}
.fixed{
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  .btn{
    width: 80%;
  }
}
