.scan-storeman{
  .sns{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .sn{
      font-size: 26px;
      margin-bottom: .4rem;
    }
  }
  .btn-wrapper{
    display: flex;
    width: 79%;
    margin: auto;
    margin-bottom: 10px;
    .btn1{
      margin: 0 2px;
    }
  }
}
