.orgDetail{
  padding: 1rem;
  .storefront{
    width: 100%;
  }
  .item-wrapper{
    position: relative;
    .item-extra__info{
      color: #0d6efd;
    }
    .icon{
      position: absolute;
      right: .5rem;
      top: 1.1rem;
    }
  }
  .node{
    margin: .8rem 0;
    .title {
      text-align: center;
    }
  }
}
