.orgEdit{
  .form{
    padding: 0;
    .input{
      margin: .3rem 0;
    }
    .at-image-picker{
      .at-image-picker__flex-box{
        display: none;
      }
      :first-child{
        display: flex;
      }
    }
    .label{
      margin: .4rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .note{
        font-size: 24px;
        color: var(--color-note);
      }
    }
    .image-picker{
      width: 6rem;
    }
  }
}
