@import "~taro-ui/dist/style/components/tab-bar.scss";
.index{
  padding: 1rem;
  .search-bar{
    padding: 0;
    margin-bottom: .5rem;
  }
  .img{
    width: 100%;
    //height: 380px;
  }
  .swiper{
    margin-bottom: 1rem;
    height: 344px;
    .img{
      height: 344px;
    }
  }
  .highlight{
    font-size: .7rem;
    margin: 1rem 0;
    .at-col{
      .avatar{
        margin: auto;
      }
      text-align: center;
    }
  }
  .notice-bar{
    margin: 1rem 0;
    background-color: var(--bg-note);
  }
  .scroll-info{
    display: flex;
    color: #ff3333;
  }
  .item{
    padding: .3rem;
    font-size: .7rem;
    position: relative;
    .img{
      width: 100%;
    }
  }
  .label{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    .read-more{
      font-size: 24px;
      color: #999;
    }
  }
  .promo .img{
    height: 260px;
  }
  .at-grid__flex{
    height: 5rem;
    .content-inner__text{
      font-size: 24px;
    }
  }
  .featured{
    .img-wrapper{
      overflow: hidden;
    }
    .price{
      display: flex;
      justify-content: space-between;
      .left{
      }
      .right{
      }
    }
    .unitPrice{
      color: var(--color-1);
      font-size: 36px;
      font-weight: bold;
      margin-right: 6px;
    }
    .unitPricePromo{
      color: var(--color-note);
      font-size: 24px;
      text-decoration: line-through;
    }
    .bg-1{
      background-color: var(--color-1);
    }
  }
}
