@import "~taro-ui/dist/style/components/tab-bar.scss";
.index{
  padding: 1rem;
  padding-bottom: 3rem;
  .swiper{
    margin-bottom: 1rem;
  }
}
.highlight0{
  .img{
    width: 100%;
  }
}
.highlight1{
  font-size: .7rem;
  margin: 1rem 0;
  .at-col{
    .avatar{
      margin: auto;
    }
    text-align: center;
  }
}
.highlight2{
  font-size: .7rem;
  position: relative;
  .img{
    width: 100%;
  }
  .text{
    position: absolute;
    left: .5rem;
    bottom: .5rem;
  }
}
