.index{
  padding: 1rem;
  .swiper{
    margin-bottom: 1rem;
  }
}
.highlight1{
  margin: 1rem 0;
  .at-col{
    .avatar{
      text-align: center;
    }
    text-align: center;
  }
}
.highlight2{
  position: relative;
  .text{
    position: absolute;
    left: .5rem;
    bottom: .5rem;
  }
}
