.productDetail{
  --secion-padding: .6rem 1.2rem;
  // padding: 1rem;
  .pic{
    width: 100%;
    height: 360px;
  }
  .price, .title, .spec, .attr, .review{
    padding: var(--secion-padding);
  }
  .price{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    .amount{
      font-weight: bold;
      font-size: 36px;
      color: var(--color-1);
    }
    .note{
      color: var(--color-note);
      font-size: 24px;
      .text{
        margin-right: .4rem;
      }
    }
  }
  .title{
    font-size: 36px;
    font-weight: bold;
  }
  .spec{
    .item{
      margin: .6rem 0;
      .label{
        color: var(--color-note);
      }
      .voucher{
        color: var(--color-1);
        font-weight: bold;
      }
    }
  }
  .attr{
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    .item{
      display: flex;
      align-items: center;
      .img{
        width: 36px;
        height: 36px;
        display: inline;
        margin-right: .2rem;
      }
    }
  }
  .review{
    padding-bottom: 8rem;
    .secion, .content{
      margin: .5rem 0;
    }
    .note{
      color: var(--color-note);
      font-size: 24px;
    }
    .star{
      color: var(--color-1);
      font-size: 24px;
    }
  }
  .bottom{
    padding: 1.2rem;
    background-color: var(--bg-light);
    border-top: 2px var(--bg-note) solid;
    width: 91%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    .left{
      .img{
        width: 54px;
        height: 54px;
      }
      .text{
        text-align: center;
        font-size: 24px;
      }
    }
    .right{
      margin: 0;
      padding: .5rem 3rem;
    }
  }
  .space{
    background-color: var(--bg-note);
    height: 1rem;
  }
}
