@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.me{
  .avatar{
    margin-right: 1rem;
  }
  .name, .voucher{
    .title{
      display: block;
    }
    .note{
      font-size: .8rem;
      color: #c4c4c4;
    }
  }
  .qricon{
    position: absolute;
    right: .6rem;
  }
  .voucher{
    margin-left: 2rem;
    .title{
      color: red;
      font-size: 1.2rem;
    } 
  }
  .logout{
    margin: 1rem;
  }
}
