page{
  --color-1: #ff3333;
  --color-2: #fdd300;
  --color-note: #676767;
  --bg-note: #fafafa;
  --bg-light: #fff;
  --color-link: #0d6efd;
  --color-black: #000;
  --color-light: #fff;
}
.main{
  padding: 1rem;
}
.top{
  margin: 1rem;
}
.form{
  padding: 8rem 1rem;
  .input{
    margin: 1rem 0;
    padding: .5rem;
    border: #c5c5c5 solid 1px;
    border-radius: .25rem;
  }
}
.at-article__content{
  .at-article__section .h5-figure .h5-img{
    border-radius: .5rem;
  }
}
.at-article__section{
  font-size: .8rem;
  color: var(--color-note);
  padding: 1rem;
}
.at-tabs__item{
  font-size: 36px !important;
}
.at-list__item .item-content__info-note{
  font-size: 24px !important;
}
.at-list__item-content{
}

.productDetail, .orgDetail, .orderDetail, .returnDetail, .retailDetail, .retailReturnDetail, .dineDetail, .withdrawDetail{
  .at-list__item-container .at-list__item-extra{
    width: 400px;
    max-width: unset;
  }
}
.at-list__item .item-extra .item-extra__info{
  color: var(--color-note);
}
.search-bar{
  .at-search-bar__action{
    background-color: var(--color-2);
    color: var(--color-black);
  }
}
.btn{
  border-radius: 2rem;
  border: none;
  background-color: var(--color-2);
  color: var(--color-black);
}
.btn-primary{
  background-color: var(--color-1);
  color: var(--color-light);
}
.btn-outline-primary{
  background-color: var(--bg-light);
  color: var(--color-1);
  border: 1px solid var(--color-1);
}
.at-article__img{
  border-radius: .5rem !important;
}
.rounded{
  border-radius: .5rem;
}
.at-noticebar{
}
.phony-input{
  padding: 20px 16px !important;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
  .item-content__info-title::before{
    content: '*';
    margin-right: 12px;
    color: #FF4949;
  }
}
.input{
  //text-align: right;
}
.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: auto;
  background-color: #fff;
  .btn{
    width: 80%;
  }
}
.card{
  padding: 1.5rem 0;
  // background-color: #2aae67; // green
  background-color: var(--color-2);
  margin: auto;
  width: 95%;
  border-radius: .5rem;
  text-align: center;
  .label{
    color: #ffffff;
    margin-bottom: .6rem;
  }
  .number{
    color: var(--color-1);
    font-weight: bold;
    font-size: 1.4rem;
  }
}
.new-btn{
  margin: .5rem auto;
}
.p-3{
  padding: 1rem!important;
}
